//base
@import "base/color";
@import "base/font";
@import "base/reset";
@import "base/var";

// mixin
@import "mixin/all";

// plugin
// @import '../node_modules/bootstrap/scss/bootstrap';

// component
@import "component/arrow";
@import "component/btn";
@import "component/form";
@import "component/selection";
@import "component/table";

// layout
@import "layout/breadcrumb";
@import "layout/card";
@import "layout/footer";
@import "layout/header";
@import "layout/searchbar";
@import "layout/sidenav";
@import "layout/ticket";

// page
@import "page/index";
@import "page/plan";
@import "page/schedule";
@import "page/trip";

* {
    margin: 0;
    padding: 0;
}
#app {
    font-family: $fontFamily;
    color: $textColor_default;
    background: $bgColor_tint;
    @include sm_p;
}

h1 {
    @include sm_h1;
}
h2 {
    @include sm_h2;
}
h3 {
    @include sm_h3;
}
h4 {
    @include sm_h4;
}
h5 {
    @include sm_h5;
}
main {
    color: $textColor_default;
    background: $bgColor_tint;
}
@media all and (min-width: $xl) {
    #app {
        @include xl_p;
    }

    h1 {
        @include xl_h1;
    }
    h2 {
        @include xl_h2;
    }
    h3 {
        @include xl_h3;
    }
    h4 {
        @include xl_h4;
    }
    h5 {
        @include xl_h5;
    }
}
