@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
#app {
    font-family: "Noto Sans TC", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6a5d4a;
    background: #fff6e3;
}
h1 {
    font-size: 64px;
    text-align: center;
}
h2 {
    font-size: 40px;
    text-align: center;
}
main {
    background: #fefff5;
    color: #6a5d4a;
}


//base
@import 'base/color';
@import 'base/font';
@import 'base/reset';
@import 'base/var';

// mixin
@import 'mixin/all';

// plugin 
// @import '../node_modules/bootstrap/scss/bootstrap';

// component
@import 'component/arrow';
@import 'component/btn';
@import 'component/form';
@import 'component/selection';
@import 'component/table';

// layout
@import 'layout/_breadcrumb';
@import 'layout/card';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/_searchbar';
@import 'layout/_sidebar';

// page
@import 'page/index';
@import 'page/plan';
@import 'page/schedule';
@import 'page/trip';
