//bgColor
$bgColor_default: #fef0d1;
$bgColor_tint: #fff6e3;

//primaryColor
$default_yellow: #e3c451;
$mid_yellow: #eece75;
$tint_yellow: #fbedc8;
$default_red: #f15c3e;
$mid_red: #ef8a76;
$tint_red: #f8d5ce;
$default_green: #93ae51;
$mid_green: #adc575;
$tint_green: #dae5be;
$default_blue: #74b5c3;
$mid_blue: #a9d2dc;
$tint_blue: #c8e4eb;

//textColor
$textColor_default: #6a5d4a;
$textColor_tint: #bab162;
$textColor_white: #fefff5;

//semanticColor
$successColor: #4be748;
$warningColor: #db4918;
