//bgColor
$bgColor_default: #FEF0D1;
$bgColor_tint: #FFF6E3;

//primaryColor
$default_yellow : #E3C451;
$mid_yellow: #EECE75;
$tint_yellow: #FBEDC8;
$default_red: #F15C3E;
$mid_red: #EF8A76;
$tint_red: #F8D5CE;
$default_green : #93AE51;
$mid_green: #ADC575;
$tint_green: #DAE5BE;
$default_blue : #74B5C3;
$mid_blue: #A9D2DC;
$tint_blue: #C8E4EB;

//textColor
$textColor_default: #6A5D4A;
$textColor_tint: #BAB162;
$textColor_white: #FEFFF5;

//semanticColor
$successColor : #4BE748 ;
$warningColor : #DB4918;


