@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500;700;900&family=Baloo+2:wght@800&family=Shippori+Mincho:wght@600;700;800&display=swap");
$fontFamily: "Noto Sans TC", sans-serif;
//text
$xl_h1: 64px;
$xl_h2: 40px;
$xl_h3: 32px;
$xl_h4: 24px;
$xl_h5: 20px;
$xl_p: 18px;
$sm_h1: 40px;
$sm_h2: 28px;
$sm_h3: 24px;
$sm_h4: 20px;
$sm_h5: 16px;
$sm_p: 14px;

//margin & padding(先設定到120px)
$spacer: 8px;
$sp1: 1 * $spacer;
$sp2: 2 * $spacer;
$sp3: 3 * $spacer;
$sp4: 4 * $spacer;
$sp5: 5 * $spacer;
$sp6: 6 * $spacer;
$sp7: 7 * $spacer;
$sp8: 8 * $spacer;
$sp9: 9 * $spacer;
$sp10: 10 * $spacer;
$sp11: 11 * $spacer;
$sp12: 12 * $spacer;
$sp13: 13 * $spacer;
$sp14: 14 * $spacer;
$sp15: 15 * $spacer;