.arrow {
    color: $textColor_default;
    background-color: $textColor_white;
    width: 40px;
    height: 40px;
    @media (min-width: $md) {
        width: 56px;
        height: 56px;
    }
    border: 2px $textColor_default solid;   
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /* btn/default */
    box-shadow: -3px 3px 4px 0px rgba(106, 93, 74, 0.50);
    @media (min-width: 375px){
        &:hover{
            color: $textColor_white;
            background: $textColor_default;
            box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }
        &:active{
            color: $textColor_white;
            background: $textColor_tint;
        }
    }
}