// 按鈕
.btn {
    font-size: $sm_h5;
    padding: 8px 24px;
    @media (min-width: 768px) {
    font-size: $xl_h5;
    padding: 8px 32px;
    }
    white-space: nowrap;
    color: $textColor_white;
    text-align: center;
    font-family: $fontFamily;
    letter-spacing: 0.6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid $textColor_default;
    background: $textColor_default;
    cursor: pointer;
    &:hover {
        color: $textColor_default;
        background: $textColor_white;
        box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }
    &:active {
        color: $textColor_tint;
        border: 2px solid $textColor_tint;
        background: $textColor_white;
    }
}



// 標籤
.tag {
    position: absolute;
    display: none;
    + span {
        @include sm_p;
        padding: 4px 12px;
        @media (min-width: 768px) {
            @include xl_p;
            padding: 8px 20px;
        }
        display: inline-flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 2px solid $textColor_default;
        background: $textColor_white;
        cursor: pointer;
    }
    &:checked + span {
        color: $textColor_white;
        border: 2px solid $textColor_default;
        background: $textColor_default;
    }
}

// cancel button
.cancel_btn {
    font-size: $sm_h5;    
    @media (min-width: 768px) {
        font-size: $xl_h5
    }
    text-decoration: underline;
    cursor: pointer;
}

// Toggle Switch
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $default_yellow;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .toggle_slider {
    background-color: $textColor_default;
}

input:focus + .toggle_slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggle_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle_slider.round {
    border-radius: 34px;
}

.toggle_slider.round:before {
    border-radius: 50%;
}
