// 下拉式選單(票券詳情及後台使用)
select#selection_main{
    color: $textColor_default;
    background-color: $textColor_white;
    border: 2px solid $textColor_default;
    border-radius: 50px;
    letter-spacing: 0.6px;
    outline: none;
    @include sm_h5;
    padding: 6px $sp4 6px $sp1;
    @media (min-width: 768px) {
        @include xl_h5;
        padding: $sp1 $sp5 $sp1 $sp1;
    }
    &:focus{
        border-color: $textColor_tint;
    }
}
