.breadcrumb{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 4px;
    @media (min-width: 1200px) {
        font-size: 18px;
        gap: $sp1;
    }
    a{
        color: $textColor_default;
    }
    a:last-child{
        color: $textColor_tint;
        &::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 24px;
            background-image: url('~@/assets/img/flag_trip.svg');
            padding-right: 4px;
        }
    }
}