footer {
    box-sizing: border-box;
    width: 100%;
    padding: $sp2;
    background-color: $default_yellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    .footer_section{
        border-bottom: 1px solid $textColor_default;
        .footer_input{
            border-radius: 50px;
            border: 2px solid $textColor_default;
            letter-spacing: 2px;
            // color: $textColor_default;
            text-indent: 10px;
            height: 40px;
        }
    }
    
}
//手機版
// @media screen and (max-width: 768px) {
    .footer_section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: initial;
        align-items: center;
        .footer_block{
            display: none;
          }
          .social_box{
            display: none;
          }
          .social_box_md{
            p{
                @include sm_h5;
                padding: $sp1 ;
            }
            .footer_input{
                width: 300px;
                margin: $sp1;
            }
            .social_icon{
                display: flex;
                width: 300px;
                margin: auto;
                justify-content: end;
                a{
                    
                    color: $textColor_default;
                    font-size: 25px;
                    padding: 5px 3px;
                    
                }
            }
          }
          
    }
    .footer_notice{
        padding: $sp1;
        width: 350px;
        display: flex;
        margin: auto;
            p{
                @include sm_p;
                letter-spacing: 1px;
                text-align: left;
                a{
                    color: $textColor_tint;
                }
            }
          }
// }
//電腦版
@media screen and (min-width: 768px) {
    .footer_section {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        padding: $sp2;
        .footer_block{
            display: flex;
            .footer_list{
                display: flex;
                flex-direction: column;
                h4{
                    @include sm_h5;
                    padding: 8px 0;
                }
                a{
                    @include sm_p;
                    color: $textColor_default;
                    padding: 8px 6px;
                }
                
            }
        }
        .social_box{
            width: 380px;
            display: flex;
            flex-direction: column;
            .social_icon{
                display: flex;
                p{
                    @include xl_h5;
                    padding: 5px 15px 15px 5px;
                }
                a{
                    font-size: 25px;
                    padding: 0 5px;
                    color: $textColor_default;
                }
                   
            }
            
        }
     }
        .footer_notice{
            width: 100%;
            justify-content: center;
            p{  
                @include sm_p;
                padding: $sp2;
                letter-spacing: 1px;
                text-align: center;
                a{
                    color: $textColor_tint;
                }
            }
        }
        .social_box_md{
            display: none;
        }
    }
    @media screen and (min-width: 912px){
        .footer_section{
            .footer_block{
                .footer_list{
                    h4{
                        @include sm_h5;
                        padding: 10px;
                    }
                    a{
                        @include sm_p;
                        color: $textColor_default;
                        padding: 10px;
                    }
                    
                }
            }
        }
    }
