footer{
    box-sizing: border-box;
    width: 100%;
    padding: $sp3 $sp4;
    background-color: $default_yellow;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    margin-top: -8px;
    position: relative;
    z-index: 99;
    @media screen and (min-width: 768px){
        padding: $sp5 $sp15;
    }
    .footer_section{
        border-bottom: 1px solid $textColor_default;
        display: flex;
        justify-content: space-between;
        padding-bottom: $sp2;
        .footer_block{
            display: none;
            @media screen and (min-width: 990px){
                display: flex;
                gap: $sp2;
                @media screen and (min-width: 1200px){
                    gap: $sp4;
                }
                .footer_list{
                    display: flex;
                    flex-direction: column;
                    h4{
                        font-size: 16px !important;
                        font-weight: 500 !important;
                        padding-bottom: 8px;
                    }
                    a{
                        font-size: 16px !important;
                        font-weight: 400 !important;
                        color: $textColor_default;
                        padding-bottom: 16px;
                    }
                }
            }
            
        }
        .social_box{
            display: flex;
            flex-direction: column;
            gap: $sp1;
            margin: auto;
            @media (min-width: 990px){
                margin: 0;
            }
            .social_icon{
                display: flex;
                align-items: center;
                @media (min-width: 990px){
                    align-items: flex-start;
                }
                p{
                    @include sm_h5;
                    padding-right: $sp1;
                    @media (min-width: 400px){
                        @include xl_h5;
                        padding-right: $sp2;
                    }
                }
                .icon_wrap{
                    a{
                        color: $textColor_default;
                        font-size: 25px;
                        padding-right: $sp1;
                    }
                }
            }
        }
    }
    .footer_notice{
        width: 100%;
        padding: $sp1 $sp1 0 $sp1;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 990px){
            padding: $sp3 $sp3 0 $sp3;
        }
        p{
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: 0.6px;
            text-align: center;
            @media (min-width: 400px){
                font-size: 14px;
                line-height: 1.5;
            }
            a{
                color: $tint_yellow;
            }
        }
    }
}
