header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
            $bgColor_default 59.9%,
            rgba(254, 240, 209, 0) 100%);
    z-index: 9999;

    .header_phone {
        max-width: $sm;
        height: 74px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;

        .logo_sm {
            height: 45px;
            margin: 0 $sp4;
        }

        // open/close icon
        .ham_toggle {
            margin: 0 $sp4;
            z-index: 3;
        }

        //nav hide
        .menu_sidebar {
            width: 280px;
            height: 85vh;
            position: absolute;
            right: -300px;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            background: $tint_yellow;
            border-radius: 50px 5px 5px 5px;
            box-shadow: 0 2px 3px 3px #0005;
            transition: right .5s ease-in-out;

            ul {
                margin-top: 136px;
                z-index: 2;

                a {
                    li {
                        margin: $sp3 0;
                        color: $textColor_default;
                    }

                    &.router-link-exact-active {
                        li {
                            color: $default_yellow;
                        }
                    }
                }
            }

            .sidebar_logo {
                margin-top: $sp5;
                z-index: 2;
            }
        }

        //nav show
        .showSidebar {
            right: 0px;
            transition: right .5s ease-in-out;
        }
    }
}

@media screen and (min-width: $md) {
    header {
        .header_desktop {
            max-width: $xl;
            height: 200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_xl {
                width: 185px;
                margin: 0 $sp5;
            }

            .menu {
                margin-right: $sp2;

                ul {
                    display: flex;

                    a {
                        li {
                            margin: 0 $sp3 ;
                            font-size: 20px;
                            color: $textColor_default;
                        }

                        &.router-link-exact-active {
                            li {
                                color: $default_yellow;
                            }
                        }
                    }

                }
            }
        }

        .header_short {
            max-width: $xl;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_sm {
                width: 200px;
                margin: 0 $sp5;
            }
        }
    }
}