//header背景加入漸層效果 更正大小
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
    //logo
    a {
        img {
            width: 190px;
        }
    }

    nav {
        a {
            margin-right: $sp5;
            font-size: 20px;
            color: $textColor_default;

            &.router-link-exact-active {
                color: $default_yellow;
            }
        }
    }
}

.header_sm {
    display: none;
    display: flex;
    position: fixed;
    left: 120px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    //logo
    a {
        img {
            width: 200px;
        }
    }
    nav {
        a {
            margin-right: $sp3;
            font-size: 20px;
            color: $textColor_default;

            &.router-link-exact-active {
                color: $default_yellow;
            }
        }
    }
}
