.ticketVertical_container {
    background-image: url("@/assets/img/layout/ticketVertical.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 258px;
    height: 500px;
    position: relative;
    &:hover {
        background-image: url("@/assets/img/layout/ticketVertical_hover.svg");
    }
    @media (min-width: 768px) {
        width: 276px;
        height: 533px;
    }
    @media (min-width: $xl) {
        width: 280px;
        height: 550px;
    }
    img {
        width: 100%;
        height: 165px;
        margin: 38px 0px;
        @media (min-width: 768px) {
            height: 177px;
            margin: 41px 0px;
        }
        @media (min-width: $xl) {
            height: 180px;
            margin: 41px 0px 32px;
        }
    }
    .ticket_text {
        display: flex;
        flex-direction: column;
        margin: $sp1 $sp3;
        height: 150px;
        @media (min-width: 768px) {
            margin: 9px 23px;
            height: 208px;
        }
        h3 {
            color: $textColor_white;
            letter-spacing: 0.72px;
            line-height: 150%;
        }
        .ticket_location {
            display: inline-block;
            color: $tint_blue;
            font-size: 14px;
            margin-top: 8px;
            flex-grow: 1;
            @media (min-width: 768px) {
                font-size: 16px;
                margin-top: 10px;
            }
            .ticket_tags {
                font-weight: 300;
                letter-spacing: 0.32px;
            }
        }
        .ticket_price {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: $sp2;
            flex-grow: 0;
            @media (min-width: 768px) {
                margin-top: $sp2;
            }
            .price_original {
                color: $tint_blue;
                font-size: 14px;
                line-height: 28px;
                // text-align: left;
                align-self: center;
                @media (min-width: 768px) {
                    width: 35px;
                    font-size: 16px;
                }
                font-weight: 900;
                text-decoration-line: line-through;
            }
            .price_final {
                color: $textColor_white;
                text-align: right;
                font-size: 28px;
                line-height: 150%;
                @media (min-width: 768px) {
                    width: 85px;
                    font-size: 36px;
                }
                font-weight: 900;
                flex-grow: 1;
            }
        }
    }
    .discount_tag {
        display: inline-block;
        width: 65px;
        line-height: 65px;
        position: absolute;
        right: -20px;
        top: 250px;
        z-index: 1;
        font-size: 20px;
        font-weight: 700;
        color: $textColor_white;
        background: $default_red;
        text-align: center;
        border-radius: 50%;
        transform: rotate(15deg);
        @media (min-width: 768px) {
            width: 70px;
            line-height: 70px;
            right: -20px;
            top: 300px;
            font-size: 24px;
            font-weight: 900;
        }
    }
}
