.ticketVertical_container{
    background-image: url('@/assets/img/layout/ticketVertical.svg');
    background-position: center;  
    width: 275px;
    height: 533px;
    
    img{
        width: 100%;
        height: 177px;
        margin: 41px 0px;
    }
    .ticket_text{
        margin: 13px 23px;
        h3{
            @include xl_h3;
        }
    
        .ticket_tags{
            display: inline-block;
            margin-top: 10px;
            color: $tint_blue;
            font-family: Noto Sans CJK TC;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 0.32px;
        }
    
        .ticket_price{
            display: flex;
            margin-top: 55px;
            justify-content: center; 
            span{            
                color: $textColor_white;
                text-align: right;
                font-family: Noto Sans TC;
                font-size: 36px;
                font-weight: 900;
                flex-grow: 1;
            }

            span:first-child{
                color: $tint_blue;
                font-family: Noto Sans TC;
                font-size: 16px;
                font-weight: 900;
                text-decoration-line: line-through;
            }

        }
    }
}