.ticket_single_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $sm;
    margin: $sp2 auto;
    position: relative;
    @media (min-width: $md) {
        flex-direction: row;
        max-width: 693.89px;
        height: 220.7px;
        background-image: url("@/assets/img/layout/ticketHorizontal.svg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media (min-width: $xl) {
        max-width: 1135px;
        height: 361px;
    }
    img {
        width: 80%;
        margin: $sp3 auto;
        @media (min-width: $md) {
            width: 100%;
            max-width: 300px;
            height: 100%;
            margin: 0 $sp6;
        }
        @media (min-width: $xl) {
            max-width: 500px;
            height: 100%;
            margin: 0 $sp9;
        }
    }
    // 票券內文
    .ticket_text {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: $sp3 auto;
        color: $textColor_default;
        @media (min-width: $md) {
            width: 100%;
            margin: $sp1;
            height: 220px;
            color: $textColor_white;
        }
        @media (min-width: $xl) {
            margin: $sp3;
            height: 360px;
        }
        h3 {
            @include sm_h3;
            letter-spacing: 0.72px;
            line-height: 150%;
            @media (min-width: $md) {
                @include sm_h3;
            }
            @media (min-width: $xl) {
                @include xl_h3;
            }
        }
        // 地區&標籤
        .ticket_location {
            display: inline-block;
            color: $textColor_tint;
            font-size: 14px;
            margin-top: $sp1;
            flex-grow: 0;
            @media (min-width: $md) {
                color: $tint_blue;
                font-size: 12px;
                margin-top: $sp1;
            }
            @media (min-width: $xl) {
                font-size: 16px;
                margin-top: 10px;
            }
            .ticket_tags {
                font-weight: 300;
                letter-spacing: 0.32px;
            }
        }
        // 介紹
        .ticket_details {
            line-height: 25px;
            margin: $sp2 0;
            color: $textColor_default;
            @media (min-width: $md) {
                line-height: 20px;
                margin: $sp1 $sp2 10px 0;
                color: $textColor_white;
            }
            @media (min-width: $xl) {
                line-height: 30px;
                margin: $sp2 $sp5 $sp7 0;
            }
        }
        // 地址連結
        .ticket_addr {
            display: block;
            color: $textColor_default;
            @media (min-width: $md) {
                font-size: 12px;
                color: $textColor_white;
            }
            @media (min-width: $xl) {
                font-size: 18px;
            }
            .fa-location-dot {
                color: $mid_red;
            }
        }
    }
    // 右上角折扣標籤
    .discount_tag {
        display: none;
        @media (min-width: $md) {
            display: inline-block;
            width: 65px;
            line-height: 65px;
            position: absolute;
            right: 8px;
            top: -20px;
            font-size: 12px;
            font-weight: 700;
            color: $textColor_white;
            background: $default_red;
            text-align: center;
            border-radius: 50%;
            transform: rotate(15deg);
        }
        @media (min-width: $xl) {
            font-size: 18px;
        }
    }
}
