.cart_page {
    width: 100%;
    padding-top: 74px;

    .breadcrumb {
        @include width($sm);
        padding: 0 $sp2;

        a:last-child {
            &::before {
                background-image: url("~@/assets/img/layout/flag_ticket.svg");
            }
        }
    }

    .cart_items {
        box-sizing: border-box;
        @include width($sm);
        margin-top: $sp2;
        padding: $sp2 $sp2 $sp4;

        .cart_select_all {
            padding: $sp2;
            font-size: 20px;
            border: 2px solid $textColor_tint;
            border-radius: 5px;

            #select_all {
                width: 20px;
                height: 20px;
            }
        }

        // 票券項目
        .cart_item {
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;
            margin: $sp2 0;
            padding: $sp2 $sp2 $sp6;
            background: $bgColor_default;
            border: 2px solid $textColor_tint;
            border-radius: 5px;

            // 票券標題
            .ticket_title {
                width: 100%;
                font-size: 20px;
                font-weight: 700;

                #select {
                    width: 20px;
                    height: 20px;
                }
            }

            //刪除項目
            .fa-trash-can {
                width: 20px;
                height: 20px;
                position: absolute;
                top: $sp2;
                right: $sp2;
            }

            // 票券圖片
            img {
                width: 80%;
                margin: $sp1 20px;
            }

            //票券選擇
            .ticket_select {
                margin: $sp2 0;

                .ticket_item {
                    display: flex;
                    flex-direction: column;

                    .ticket_adult,
                    .ticket_ex {
                        width: 90%;
                        display: flex;
                        margin: $sp1 0;

                        label {
                            margin: 0 $sp1;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .name {
                                font-size: 16px;
                                font-weight: 700;
                            }

                            .price {
                                width: 100%;
                                font-size: 12px;
                            }
                        }

                        // 選擇數量
                        select {
                            width: 65px;
                            height: 42px;
                            margin: 0 $sp1;
                            font-size: 20px;
                            color: $textColor_default;
                            text-align: center;
                            border: 2px solid $textColor_default;
                            border-radius: 50px;
                        }

                        // 小計
                        .subtotal_adult,
                        .subtotal_ex {
                            margin: 0 $sp5;
                            display: inline-flex;
                            align-items: center;
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }

            // 小計
            .subtotal {
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                padding: $sp2 $sp4;
                font-size: 24px;
                font-weight: 700;
                text-align: right;
                background: $bgColor_tint;
                border-top: 2px solid $textColor_tint;
            }
        }

        .result {
            display: flex;
            justify-content: end;
            align-items: end;

            p {
                margin: $sp2;
                font-size: 24px;
                font-weight: bold;
                text-align: right;

                span {
                    font-size: 18px;
                }
            }
        }

        .btn_buy-pay {
            display: flex;
            justify-content: center;

            .buymore,
            .pay {
                height: 44px;
                margin: $sp3;

                span {
                    font-size: 24px;
                }
            }
        }
    }

    .pay_details {
        display: none;
    }
}

@media all and (min-width: $md) {
    .cart_page {
        margin: auto;
        padding-top: 200px;

        .breadcrumb {
            @include width($md);
        }

        .cart_items {
            @include width($md);
            margin-top: $sp3;
            padding: $sp2 $sp2 $sp4;

            .cart_select_all {
                padding: $sp2;
                font-size: 24px;

                #select_all {
                    width: 24px;
                    height: 24px;
                }
            }

            // 票券項目
            .cart_item {
                margin: $sp2 0;
                padding: $sp2 $sp2 $sp8;

                // 票券標題
                .ticket_title {
                    width: 100%;
                    font-size: 24px;
                    font-weight: 700;

                    #select {
                        width: 24px;
                        height: 24px;
                    }
                }

                //刪除項目
                .fa-trash-can {
                    width: 24px;
                    height: 24px;
                    top: $sp2;
                    right: $sp2;
                }

                // 票券圖片
                img {
                    width: 80%;
                    margin: $sp1 20px;
                }

                //票券選擇
                .ticket_select {
                    margin: $sp2 0;

                    .ticket_item {

                        .ticket_adult,
                        .ticket_ex {
                            width: 90%;
                            margin: $sp1 0;

                            label {
                                margin: 0 $sp1;

                                .name {
                                    font-size: 18px;
                                    font-weight: 700;
                                }

                                .price {
                                    width: 100%;
                                    font-size: 14px;
                                }
                            }

                            // 選擇數量
                            select {
                                width: 65px;
                                height: 42px;
                                margin: 0 $sp1;
                                font-size: 24px;
                            }

                            // 小計
                            .subtotal_adult,
                            .subtotal_ex {
                                margin: 0 $sp5;
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }
                    }
                }

                // 小計
                .subtotal {
                    width: 100%;
                    padding: $sp2 $sp4;
                    font-size: 28px;
                    font-weight: 700;
                }
            }

            .result {
                p {
                    margin: $sp2;
                    font-size: 28px;
                    font-weight: bold;

                    span {
                        font-size: 20px;
                    }
                }
            }

            .btn_buy-pay {

                .buymore,
                .pay {
                    margin: $sp3;
                }
            }
        }
    }
}

@media all and (min-width: $xl) {
    .cart_page {
        box-sizing: border-box;
        @include width($xl);
        padding: 200px $sp2 $sp4;

        .breadcrumb {
            @include width($xl);
        }

        .cart_items {
            width: 70%;
            max-width: 60%;
            margin: 0;
            float: left;

            .cart_select_all {
                box-sizing: border-box;
                padding: $sp2;
                font-size: 24px;

                #select_all {
                    width: 24px;
                    height: 24px;
                }
            }

            // 票券項目
            .cart_item {
                display: flex;
                flex-direction: row;
                margin: $sp2 0;
                padding: $sp2 $sp2 $sp10;

                .ticket_title-photo {
                    display: flex;
                    flex-direction: column;

                    // 票券標題
                    .ticket_title {
                        width: 100%;
                        font-size: 24px;
                        font-weight: 700;

                        #select {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    // 票券圖片
                    img {
                        width: 280px;
                        margin: $sp1 20px;
                    }
                }

                //刪除項目
                .fa-trash-can {
                    width: 24px;
                    height: 24px;
                    top: $sp2;
                    right: $sp2;
                }

                //票券選擇
                .ticket_select {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: $sp2 0;

                    .ticket_item {

                        .ticket_adult,
                        .ticket_ex {
                            width: 100%;
                            display: flex;
                            margin: $sp1 0;

                            label {
                                margin: 0 $sp1;

                                .name {
                                    font-size: 18px;
                                    font-weight: 700;
                                }

                                .price {
                                    width: 100%;
                                    font-size: 14px;
                                }
                            }

                            // 選擇數量
                            select {
                                width: 65px;
                                height: 42px;
                                margin: 0 $sp1;
                                font-size: 24px;
                            }

                            // 小計
                            .subtotal_adult,
                            .subtotal_ex {
                                margin: 0 $sp1;
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }
                    }
                }

                // 小計
                .subtotal {
                    width: 100%;
                    padding: $sp2 $sp4;
                    font-size: 28px;
                    font-weight: 700;
                }
            }

            .result {
                display: none;
            }

            .btn_buy-pay {
                justify-content: end;

                .buymore {
                    display: block;
                }

                .pay {
                    display: none;
                }
            }
        }

        .pay_details {
            display: block;
            float: right;
            box-sizing: border-box;
            width: 30%;
            height: 100vh;
            margin: 0 $sp2;

            .pay_details_content {
                position: sticky;
                top: 200px;
                margin: 100px 0;
                padding: $sp3 $sp4;
                color: $textColor_default;
                background: $textColor_tint;

                .payDuck {
                    width: 142px;
                    position: absolute;
                    top: -120px;
                    left: 0;
                }

                .Title {
                    margin-bottom: $sp3;
                    font-size: 32px;
                    color: $textColor_white;
                    text-align: left;
                }

                // 付款明系列表
                .item {
                    height: 300px;
                    padding: $sp3 0;
                    overflow-y: auto;

                    .details {
                        margin: $sp2 0;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 2px solid $textColor_default;

                        .title {
                            display: flex;
                            justify-content: space-between;
                            color: $textColor_white;
                            font-size: 24px;
                            font-weight: bold;
                        }

                        // 張數&票價
                        .ticket_adult,
                        .ticket_ex {
                            display: flex;
                            justify-content: space-between;
                            margin: $sp3 0;
                            font-size: 18px;
                        }

                        // 小計
                        .amount {
                            margin: $sp2;
                            text-align: right;

                            span {
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .result {
                    position: relative;
                    margin: $sp3 0;

                    p {
                        font-size: 20px;
                    }

                    .total-price {
                        font-size: 32px;
                        font-weight: bold;
                        color: $textColor_white;
                    }

                    button {
                        position: absolute;
                        bottom: -8px;
                        right: -8px;

                        span {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}