#app {
    background: $bgColor_tint;
}
.ticket_banner {
    width: 100%;
    position: relative;
    .banner_xl {
        display: none;
    }
    .banner_sm {
        @include width($sm) {
        }
    }
    h1 {
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
.searchbox {
    margin: auto;
    display: flex;
    justify-content: center;
}
.ticket_list {
    max-width: $xl;
    margin: $sp4 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ticket_card {
        margin: $sp2 $sp2;
        position: relative;
        cursor: pointer;
        &:hover .hover_showDuck {
            display: block;
        }
        .hover_showDuck {
            display: none;
            position: absolute;
            left: -65px;
            top: 150px;
        }
        .add_cart {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: $sp5;
            left: 0;
            right: 0;
            margin: 0 auto;
            .btn {
                background: $default_yellow;
                border: none;
                cursor: pointer;
                &:hover {
                    color: $default_yellow;
                    background: $textColor_white;
                }
                &:hover a.ticketVertical_container {
                    background-image: url("@/assets/img/layout/ticketVertical_hover.svg");
                }
            }
        }
    }
}
.cart {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0px;
    top: 150px;
    background: $textColor_tint;
    border-radius: 50% 0 0 50%;
    .cart_toggle {
        width: 28px;
        height: 28px;
        padding: 17px;
        position: absolute;
        top: 9px;
        left: 10px;
        background: $textColor_white;
        border-radius: 50%;
        cursor: pointer;
    }
    .numTag {
        display: inline-block;
        width: 20px;
        line-height: 20px;
        position: absolute;
        right: 7px;
        top: 7px;
        text-align: center;
        color: $textColor_white;
        background: $warningColor;
        border-radius: 50%;
    }
}
.cart_sidebar {
    box-sizing: border-box;
    @include width(100);
    height: 100vh;
    padding: $sp3 $sp4;
    position: fixed;
    top: 0;
    right: 0;
    color: $textColor_default;
    background: $textColor_tint;
    z-index: 9999;
    h2 {
        margin-bottom: $sp3;
        font-size: 24px;
        color: $textColor_white;
        text-align: left;
    }
    .item {
        height: 500px;
        padding: $sp3 0;
        overflow-y: auto;
        .details {
            margin: $sp2 0;
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid $textColor_default;
            .title {
                display: flex;
                justify-content: space-between;
                color: $textColor_white;
                font-size: 20px;
                font-weight: bold;
                .cancel {
                    margin: 0 $sp1;
                    font-weight: bolder;
                    color: $textColor_default;
                    cursor: pointer;
                    &:hover {
                        color: $textColor_white;
                    }
                }
            }
            .ticket_adult,
            .ticket_ex {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: $sp1 0;
                font-size: 20px;
                label {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                }
                .count_adult,
                .count_ex {
                    width: 60px;
                    height: 36px;
                    font-size: 16px;
                    color: $textColor_default;
                    text-align: center;
                    border: 2px solid $textColor_default;
                    border-radius: 50px;
                }
            }
            .amount {
                margin: $sp2;
                text-align: right;
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .result {
        position: relative;
        margin: $sp3 0;
        p {
            font-size: 16px;
        }
        .total-price {
            font-size: 24px;
            font-weight: bold;
            color: $textColor_white;
        }
        button {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .close {
        position: absolute;
        right: $sp5;
        top: $sp4;
        font-size: 24px;
        color: $textColor_white;
        cursor: pointer;
        &:hover {
            color: $bgColor_tint;
        }
    }
}
@media all and (min-width: $xl) {
    .ticket_banner {
        width: 100%;
        height: 400px;
        .banner_xl {
            display: block;
            width: 1200px;
            margin: auto;
        }
        .banner_sm {
            display: none;
        }
        h1 {
            top: 170px;
            left: 0;
            right: 400px;
            margin: 0 auto;
        }
    }
    .ticket_list {
        max-width: $xl;
        margin: $sp4 auto;
        .ticket_card {
            margin: $sp1 12px;
        }
    }
    .cart {
        width: 100px;
        height: 100px;
        right: 0px;
        top: 120px;
        .cart_toggle {
            width: 36px;
            height: 36px;
            padding: 21px;
            top: 11px;
            left: 13px;
        }
        .numTag {
            width: 25px;
            line-height: 25px;
            right: $sp1;
            top: $sp1;
        }
    }
    .cart_sidebar {
        top: 120px;
        right: 0;
        width: 400px;
        height: 784px;
        padding: $sp4 $sp5;
        h2 {
            margin-bottom: $sp3;
            font-size: 32px;
        }
        .item {
            height: 550px;
            padding: $sp2 0;
            .details {
                margin: $sp1 $sp3 $sp3 0;
                border-bottom: 2px solid $textColor_default;
                .title {
                    font-size: 20px;
                    font-weight: bold;
                    .cancel {
                        margin: 0 $sp1;
                        &:hover {
                            color: $textColor_white;
                        }
                    }
                }
                .ticket_adult,
                .ticket_ex {
                    width: 100%;
                    margin: $sp2 0;
                    font-size: 24px;
                    label {
                        font-size: 18px;
                    }
                    .count_adult,
                    .count_ex {
                        width: 60px;
                        height: 36px;
                        font-size: 20px;
                        border: 2px solid;
                    }
                }
                .amount {
                    margin: $sp3;
                    span {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
        }
        .result {
            margin: $sp4 0;
            p {
                font-size: 20px;
            }
            .total-price {
                font-size: 32px;
                font-weight: bold;
            }
        }
        .close {
            right: $sp5;
            top: $sp4;
            font-size: 28px;
            &:hover {
                color: $bgColor_tint;
            }
        }
    }
}
